body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.vault-font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*remove underlining for hyperlinks*/
a {
    text-decoration: none;
}



.main-title{
    color: whitesmoke;
    margin-left: 1%;
}

.nav-text{
    color: whitesmoke;
    margin-left: 1%;
}


.footer-body{
    background-color: rgb(7, 7, 61);
    max-width: 100%;
    margin-top: auto; /* This pushes the footer to the bottom */
}

.footer-text{
    color: whitesmoke; 
    text-align: center; /* Center the text within the footer */
}

a.no-underline{
    text-decoration: none;
    color: inherit; /* This makes the link color the same as the surrounding text color */
}

/*Welcome page*/
.welcome{
    display: flex;
    /*background-color: yellow;*/
}


.welcome-text{
    flex: 1; /* Take up remaining space */
    /*background-color: aqua;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.welcome-photo{
    margin-right: 35vh;
    margin-top: 2vh;
    max-height: 69vh;
}

.rules{
    color: whitesmoke;
    background-color: rgb(7, 7, 61);
    border-radius: 5%;
    max-width: 70vh;
    padding: 1vh;
    margin-left: 20vh;
}


.create_joke input[type="text"] {
    width: 100%; /* Set the width to 100% of the container */
    max-width: 100vh;
}

.user-list{
    list-style-type: none;
    padding: 1;
    /*background-color: yellow;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 1rem; /* Adjust the gap between items as needed */
    
}

.user-item{
    margin-bottom: 2%; /* Adjust the margin as needed */
    display: flex;
    align-items: row;
    /*background-color: aqua;*/
}





.user-photo{
    height: 10vh; /* Maintain aspect ratio */
    width: 10vh;
    display: block; /* Remove extra space below inline images */
    /* border-radius: 50px; */
    border-radius: 20%;
}

.joker{
    align-self: center;
    font-size: x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 2%;
}

.joker a {
    color: black; /* Set the desired text color */
    text-decoration: none; /* Remove underline */
}




/* container for the edit profile page*/ 
.profile-container{
    display: flex;
    align-items: row;
    /*background-color: yellow;*/
}

.profile-names{
    align-items: column;
    /*background-color: green;*/
    padding: 3vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile-photo{
    height: 26vh; /* Maintain aspect ratio */
    width: 26vh;
    display: block; /* Remove extra space below inline images */
    padding: 5vh;
    border-radius: 20%;
}

.profile-name{
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 55v;
    font-size: 300%;  
}

.profile-alias{
    align-items: center;
    padding-top: 2vh;
    font-size: 300%;
}

.profile-stats{
    align-items: column;
    /*background-color: aqua;*/
    padding: 2vh;
    padding-top: 2vh;
    padding-left: 5h;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*joke text*/
.joke-text{
    font-size: 275%;
}


/*button css*/
.red-button{
    border-radius: 5%;
    border: whitesmoke;
    padding: 2vh;
    margin: 1vh;
    background-color: rgb(107, 10, 99);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

/*button alignment when voting for a joke*/
.vote-buttons{
    display: flex;
    align-items: row;
}

.kudos-buttons{
    display: flex;
    flex-direction: column;
    /*background-color: yellow;*/
    margin-left: 5vh;
    align-items: center;
}

.red-button-2{
    margin-top: 7vh;
    padding: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
    border-radius: 5%;
    border: whitesmoke;
    max-width: 20vh;
    background-color: rgb(107, 10, 99);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

.pagination{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    size: 12vh;
}


.joke-container{
    display:flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*background-color: aqua;*/
    margin-left: 15vh;
    border-radius: 5%;
    max-width: 100%;
    max-height: 2%;
}

.joke-rank{
    background-color: rgb(7, 7, 61);
    color: whitesmoke;
    border-radius: 20%;
    padding: 1vh;
    max-width: 15vh;
}


.joke-line{
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*background-color: yellow;*/
    margin: 2vh;
    margin-left: 5vh;
    border-radius: 5%;
    max-width: 100%;
}

.joke-phrase{
    background-color: rgb(7, 7, 61); 
    color: whitesmoke;
    border-radius: 20%;  
    padding: 1vh;
}

.joke-votes{
    background-color: rgb(7, 7, 61);
    align-items: center;
    color: whitesmoke;
    border-radius: 20%;
    padding: 1vh;
    max-width: 12vh;
    margin-left: 3vh;
}

.edit-profile{
    /*background-color: aqua;*/
    margin-left: 5vh;
}

.alert-text{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: large;
    font-weight: bold;

}